@tailwind components;

@layer components{
    *[class^="icon-"]{
        font-size: 1.5rem;
        width: 1em;
        height: 1em;
        display: flex;
        background-image: url("../assets/images/icons.svg");
        background-size: calc(1em * 5);
        background-repeat: no-repeat;
    }

    .icon-home{
        background-position: calc(-1em * 0) calc(-1em * 0);
    }
    
    .icon-box{
        background-position: calc(-1em * 1) calc(-1em * 0);
    }
    
    .icon-trophy{
        background-position: calc(-1em * 2) calc(-1em * 0);
    }
}